<div>
    <article class="iniciomision">
<h1 class="col-6" >Nuestra Misión</h1>

<p class="col-6">
    Ser proveedores de soluciones ágiles de tecnología, capaces de cubrir las necesidades de negocio de nuestros
    clientes y aliados, apostando a la transformación digital, garantizando la entrega y gestión oportuna, responsable,
    innovadora y ágil. Estamos respaldados por la calidad como elemento para potenciar la eficacia y eficiencia de
    nuestros clientes.</p>
    
</article>

</div>
<div>
<article  class="iniciovision">
<h1>Nuestra Visión</h1>
<p>
    Convertirnos en un solucionador de las necesidades de nuestros clientes a través de desarrollos tecnológicos que
    generen valor, con un proceso constante de innovación, gestionado por gente apasionada, profesional, comprometida y
    responsable. Queremos ser reconocidos y preferidos como el aliado estratégico en la gestión de servicios y
    soluciones de Tecnología de la Información; económicamente sólida y reconocidos por la calidad humana y profesional
    de su gente.</p>

</article>
<img class="centrar" src="..\assets\Misin---vision---valores-removebg-preview.png" height="250ptx" width="310ptx">

</div>