
<div class="row container-fluid ">
<div class="col-12" >
    <div  class="d-flex " >
        <article class="iniciomision" style="max-width:800px; ">
            <h1>Nuestra Misión</h1>

            <p>
                Ser proveedores de soluciones ágiles de tecnología, capaces de cubrir las necesidades de negocio de
                nuestros
                clientes y aliados, apostando a la transformación digital, garantizando la entrega y gestión oportuna,
                responsable,
                innovadora y ágil. Estamos respaldados por la calidad como elemento para potenciar la eficacia y
                eficiencia
                de
                nuestros clientes.</p>

        </article>
        <img class="centrar m-0 p-0 m-auto" src="..\assets\Misin---vision---valores-removebg-preview.png" height="200ptx">

    </div>
    <br>

    <div class="d-flex">
        <img class="centrar" src="..\assets\slide_5.jpg" height="200ptx">
        <article class="iniciovision" style="max-width:800px; margin-left:auto ;">

            <h1>Nuestra Visión</h1>
            <p>
                Convertirnos en un solucionador de las necesidades de nuestros clientes a través de desarrollos
                tecnológicos
                que
                generen valor, con un proceso constante de innovación, gestionado por gente apasionada, profesional,
                comprometida y
                responsable. Queremos ser reconocidos y preferidos como el aliado estratégico en la gestión de servicios
                y
                soluciones de Tecnología de la Información; económicamente sólida y reconocidos por la calidad humana y
                profesional
                de su gente.</p>

        </article>  
           
       

    </div>
</div>

</div>