<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-4 ">
            <h2 class="titulo2">Crear Mercancía</h2>
            <form [formGroup]="crearForm" (ngSubmit)="guardar()">
                <div>
                    <label>Nombre Producto:</label>
                    <input type="text" formControlName="nombreProducto" placeholder="Nombre del Producto"
                        class="form-control">
                </div>
                <div>
                    <label>Cantidad:</label>
                    <input type="number" formControlName="cantidad" placeholder="Digite un número entero"
                        class="form-control">
                </div>
                <div>
                    <label>Fecha de Ingreso:</label>
                    <input type="text" formControlName="fechaIngreso" placeholder="dd/mm/aaa" class="form-control">
                </div>
                <div>
                    <label>Id Empleado:</label>
                    <input type="number" formControlName="idEmpleado" placeholder="Id Empleado" class="form-control">
                </div>
                <div>
                    <label>Id Empleado Modifica:</label>
                    <input type="number" formControlName="idEmpleadoModifica" placeholder="Id Empleado Modifica"
                        class="form-control">
                </div>
                <div>
                    <label>Fecha de Modificación:</label>
                    <input type="date" formControlName="fechaModificacion" placeholder="dd/mm/aaa" class="form-control">
                </div>

                <button type="submit" class="btn btn-success">Guardar</button>

            </form>
        </div>

        <div class=" col-8 ">
            <div class="text-end mb-2">
                <!-- <td>{{mercancia2.id}}</td>
                <td>{{mercancia2.nombreProducto}}</td>
                <td>{{mercancia2.cantidad}}</td>
                <td>{{mercancia2.fechaIngreso}}</td> -->
                <form [formGroup]="buscarForm" (ngSubmit)="buscar()">
                    <input type="search" placeholder="buscar" formControlName="id">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre del Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha de Ingreso</th>
                        <th>Id Empleado</th>
                        <th>Id Empleado Modifica</th>
                        <th>Fecha de Modificación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mercancia ">
                        <th>{{item.id}}</th>
                        <td>{{item.nombreProducto}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.fechaIngreso}}</td>
                        <td>{{item.idEmpleado}}</td>
                        <td>{{item.idEmpleadoModifica}}</td>
                        <td>{{item.fechaModificacion}}</td>
                        <td>
                            <button class="bi bi-trash" (click)="eliminar(item)"></button>
                            <button class="bi bi-pencil-square" (click)="editar(item)"></button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>