<div class="alert alert-success" role="alert">

    <img src="../assets/logoNexos-removebg-preview.png" alt="Imagen no encontrada" height="70ptx" width="270ptx">
    <h2 class="alert-heading">SISTEMA DE INVENTARIO</h2>    
    

    <div class="referencias" style="color:rgb(36, 30, 27);">
        <a routerLink="/inicio" routerLinkActive="active-link" style="color:rgb(36, 30, 27);">Inicio</a> |
        <a routerLink="/crearMercancia/" routerLinkActive="active-link" style="color:rgb(36, 30, 27);">Mercancía</a> |
        <a routerLink="/crearEmpleado/" routerLinkActive="active-link" style="color:rgb(36, 30, 27);">Empleado</a> 
       
    </div>
</div>