

<nav class="navbar navbar-expand-lg nav-barra" style="background-color: #08788623;">


    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#"> <img src="../assets\logo.png" alt="Imagen no encontrada" height="40ptx" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " routerLink="/inicio" routerLinkActive="active-link" aria-current="page " href="#" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="/crearMercancia" routerLinkActive="active-link" aria-current="page " href="#" >Mercancía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="/crearEmpleado" routerLinkActive="active-link" aria-current="page " href="#" >Empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="/cargo" routerLinkActive="active-link" aria-current="page " href="#" >Cargo</a>
          </li>
        </ul>
        
        <span class="navbar-text text-white " >
           <strong> SISTEMA DE INVENTARIO</strong>
        </span>
      </div>
    </div>
  </nav>
<br>
 